/*
 Css custom
*/

.metodos-pago .logo-pago img {
    cursor: pointer;
}

.separator {
    margin: 50px 0;
}

.cesta .header-interior {
    padding: 10px;
    min-height: 129px;
}

.circle-awesome-icon {
    line-height: 85px !important;
}

.empty_cart {
    background: #fff;
    -webkit-box-shadow: 1px 2px 10px 1px #d4d4d4;
    box-shadow: 1px 2px 10px 1px #d4d4d4;
    text-align: center;
    padding: 10px 50px 35px 10px;
}

.panel-acordeon-more {
    margin-top: 5px;
    display: none;
}


.plansButton {
    box-shadow: none;
    border: none;
    background: none;
}
.precio small {
    font-size: 49%;
    vertical-align: super;
}

.precio span {
    font-size: 12px;
}

.hearaboutus-area label {
    display: block;
    text-align: left !important;
    margin-left: 0 !important;
}

.planes-tarifas-wrapper a:visited:visited, a.btn_09:visited, a.btn_02:visited, a.btn_04:visited, a.btn_08:visited {
    color: black;
}

a.btn_09:hover {
    color: white;
}

.item-new {
    min-height: 300px;
    padding-top: 10px;
    margin: 0 10px;
}

/*Comment this class I dont understand why text into button must to be white*/
/*.btn_01 {
    color: #fff !important;
}*/

.header-buscador .buscador_submit {
    float:right;
}

.pregunta-extras .derogada {
    color: #d51f1f; /*copied from style applied to .table td.rojo*/
    border-left: 5px solid #d51f1f;
    margin-bottom: 0px;
}

.selector_oposicion option {
    color: #000;
}

.fix_size_readmore {
    max-height: 400px;
    overflow: hidden;
}

#read_more_btn {
    cursor: pointer;
}

.pregunta-item .radio label, .pregunta-item label.radio-inline {
    cursor: pointer;
    padding-left: 35px;
    position: relative;
}

.pregunta-item label {
    display: inline;
}

.pregunta-item {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Menu popup navbar user */
.popup_menu_user_navbar {
    left: 50%;
    right: auto;
    /*text-align: center;*/
    transform: translate(-50%, 0);
}

.area-personal-menu li.active span {
    background: #fff;
    font-weight: 600;
    padding: 20px;
    display: block;
    color: #000;
    text-transform: uppercase;
}

td.right {
    text-align: right;
}

.area-personal-submenu li.active {
    padding: 10px 20px 10px 40px;
    font-weight: 400;
    color: #e09f02;
}

.rojo {
    color: #d51f1f; /*copied from style applied to .table td.rojo*/
}

.verde {
    color: #89c300;
}

/*Helpers*/

.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-15, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-45, 
.margin-bottom-50, 
.margin-bottom-55, 
.margin-bottom-60 { 
   clear:both;
}
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}

.margin-top-5  { margin-top:5px;}
.margin-top-10 { margin-top:10px;} 
.margin-top-15 { margin-top:15px;}
.margin-top-20 { margin-top:20px;}
.margin-top-25 { margin-top:25px;}
.margin-top-30 { margin-top:30px;}
.margin-top-35 { margin-top:35px;}
.margin-top-40 { margin-top:40px;}
.margin-top-45 { margin-top:45px;}
.margin-top-50 { margin-top:50px;}
.margin-top-55 { margin-top:55px;}
.margin-top-60 { margin-top:60px;}

.margin-left-5  { margin-left:5px;}

.margin-1 { margin: 1px;}

.padding-8 { padding: 8px;}

.nofix_nav .wrapper-menus {
    position: relative !important;
}

.nofix_nav .contenido-wrapper {
    padding: 0px !important;
}
/* Soft Alerts*/

.alert-success-soft {
    color: #3c763d;
    background-color: #e1f0bf;
    border-color: #d6e9c6;
}

.alert-info-soft {
    color: #31708f;
    background-color: #cbe3f6;
    border-color: #bce8f1;
}

.alert-warning-soft {
    color: rgba(52, 7, 0, 0.8);
    background-color: #f2bbbb;
    border-color: #faebcc;
}

.alert-danger-soft {
    color: #a94442;
    background-color: #f2dede;
    border-color: #d6e9c6;
}

/**/


/*Add by pablo*/
.btn_04.red,
a.btn_04.red{
    border:2px solid #a94442;
    background: #a94442;
}

.examen-panel  span.examenes-alleged {
    background: url('../../bundles/opostheme/images/ico_tests.png') no-repeat center center;
    margin:0 auto 30px auto;
    width: 100px;
    height: 100px;
    display: block;
    border:7px solid #ffb606;
    border-radius: 100%;
}

h2.examenes-alleged {
    background: url('../../bundles/opostheme/images/ico_tests.png') no-repeat left center;
    background-size:35px auto;
    padding: 0 0 0 45px;
}

.examen-panel  span.test-alleged {
    background: url('../../bundles/opostheme/images/ico_tests.png') no-repeat center center;
    margin:0 auto 30px auto;
    width: 70px;
    height: 70px;
    display: block;
    border:7px solid #ffb606;
    border-radius: 100%;
}

/*.alert.alert-warning {
    background: #faeed3;
    color: #ffb606;
    Modify by pablo
    color: #555;
}*/

.question-label { 
    font-weight: bold;
}


/*Exam Solve*/

#examResolver .reason-content {
    background-color: #ffffdc;
    padding: 8px;
    margin-top: 2em;
}
.check-report {
    padding: 8px;
    margin-bottom: 1em;
}

.reason-content {
    background-color: #ffffb3;
}

.correct-answer {
    background-color: #e1f0bf;
}

.popover {
    color: #000;
}

.box-clock {
    cursor:pointer;
}

.header-interior-min .header-interior{
    padding: 10px;
    min-height: 129px;
}

/* Ancla */
.ancla {
    display: block;
    height: 55px;
    margin-top: -55px;
    visibility: hidden;
}

.rangkingYourStats {
    background-color: #ddd;
    text-align: center;
    padding: 5px;
}

.cartPromotions span {
    margin-left: 5px;
}

/* alert-error is used in our code but not defined in bootstrap */
/*
Add in the next realease
.alert-error {
    background-color: #ff2222;
}
*/

/** remove when promotions is out **/
.cesta .alert-error {
    display: none;
}

#cupon .btn_09 {
    padding: 8px 10px !important;
}

/** end remove when promotions is out **/


.contenido .plan-tarifa h2 {
    padding: 10px 0 0 0;
}

.plan-premium .header-interior {
    min-height: 0;
}

.providerImageContainer img{
    margin: 0px 0 20px 0px;
}

.planes-y-precios .header-interior {
    min-height: 0;
}

@media (max-width: 768px){
    .steps .step {
     width: 33%;
    }

    .step .n_step {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        line-height: 20px;
        font-size: 14px;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    /* item de compra de opositatest, el de 15,99 que sea igual de grande que los demas */
    .duracion-item {
        min-height: 225px;
    }
}

.pregunta-item .radio-2 input[type="radio"] {
    margin-right: 10px;
}
.pregunta-item .radio-2 label {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.oposModal .modal-footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(229, 229, 229);
    padding-top: 10px !important;
}

.oposModal .modal-footer .btn_06 {
    color: #fff;
}

.three-option-challenge {
    height: 280px;
    margin-bottom: 15px;
}

.three-option-challenge .btn_01{
    position: absolute;
    bottom: 0px;
    width: 92%;
}

@media (max-width: 1199px) and (min-width: 992px){
    .what-to-do-section {
        height: 280px;
        margin-bottom: 15px;
    }

    .what-to-do-section .btn_01{
        position: absolute;
        bottom: 0px;
        width: 92%;
    }
}
@media (max-width: 992px){
    .what-to-do-section {
        margin-bottom: 5px;
    }
}

.active_category_a {
    margin-right: 0;
    border-radius: 4px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    color: #000!important;
    text-transform: uppercase;
    padding: 0 0 15px 0;
}

.pregunta-item .radio-2 input[type=radio]{
    margin-right:10px;
}
.pregunta-item .radio-2 label  {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
}
.negro {
    color: black !important;
}

.alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-notice hr {
    border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
    color: #245269;
}

.originalPrice {
    text-decoration:line-through;
}

.product-label-container {
    margin-top: 5px;
}

.label-opositatest {
    background-color: #ffb606;
}

.pulse {
  animation: pulse 3s infinite;
  margin: 0 auto;
  display: table;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#register_simple_block {
    background: url('../../bundles/opostheme/images/home_empieza_bg.jpg') no-repeat center top;
    -webkit-background-size:cover;
    background-size: cover;
    padding-top: 10px;
    color:#000;
}

.phone_number_form_number {
    color: #000;
    text-align: center;
}

#changeOppostionSelect optgroup {
    color: #000;
}

.header-item-buscador {
    background-color: #ffb606;
    font-weight: bold;
    color: #fff;
    margin: 10px 0px;
    font-size: 17px;
    text-align: center;
}

.examen-panel {
    color:black;
}

a:hover.exam-panel-a, a:focus.exam-panel-a {
    text-decoration: none;
}

#exam-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5a5f69;
    z-index: 2;
    cursor: pointer;
}

#exam-overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.recomendation_bar {
    position:fixed;
    width: 100%;
    bottom:0;
    margin:0 !important;
    z-index: 1;
}

.recomendation_alert {
    position:fixed;
    display: none;
    bottom:0;
    right: 0;
    margin:0;
    z-index: 1;
}

.header-grey {
    width: 100%;
    min-height: 10px;
    padding: 15px 0;
    background: #858990;
    color: #fff;
    text-align: left
}

.display-none {
    display: none;
}